import streamlit as st
import pandas as pd
import plotly.express as px
import gspread
from oauth2client.service_account import ServiceAccountCredentials
#from server_scrape_day import manual_pull
#from server_scrape_hour import manual_pull
#from server_scrape_min import manual_pull
from afeplc_config import SHEET_NAME, CREDS_PATH
from afeplc_data_scraper import manual_pull 
import time
